html {
  font-size: 62.5%;

  body {
    font-size: 1.6rem; // Tamanho da fonte 16px

    .mainColor {
      .containerColor {
        .secondaryColor {
          .secondaryTwo {
            .author {
              display: flex;
              padding: 3rem;
              font-size: 2rem;
              font-weight: 300;
              text-align: center;
              letter-spacing: -1px;
              font-family: 'Gaegu', cursive;
              border-top: 1px solid #2D6EF3;
              box-shadow:
                #0000002b 0px -23px 25px 0px inset,
                #00000026 0px -36px 30px 0px inset,
                #0000001a 0px -79px 40px 0px inset,
                #0000000f 0px 2px 1px,
                #00000017 0px 4px 2px,
                #00000017 0px 8px 4px,
                #00000017 0px 16px 8px,
                #00000017 0px 32px 16px;
            }
          }
        }
      }
    }
  }
}