html {
  font-size: 62.5%;

  body {
    font-size: 1.6rem; // Tamanho da fonte 16px

    .mainColor {
      .containerColor {
        .primaryColor {
          .loading {
            position: relative;
            width: 250px;
            height: 250px;
            margin: 85px auto;

            .blocks {
              position: absolute;
              width: 8px;
              height: 25px;
              background-color: #050c09;
              left: 50%;
              border-radius: 8px;
              transform: rotate(calc(18deg * var(--i)));
              transform-origin: 0 125px;
            }

            @keyframes animateSpinner {

              0%,
              50% {
                background-color: #050c09;
                box-shadow: none;
              }

              50.1%,
              100% {
                background-color: #2D6EF3;
                box-shadow:
                  0 0 5px #2D6EF3,
                  0 0 15px #2D6EF3,
                  0 0 30px #2D6EF3,
                  0 0 60px #2D6EF3,
                  0 0 90px #2D6EF3;
              }
            }

            .blockMain {
              color: #050c09;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 2em;
              letter-spacing: 2px;
            }

            /* ===== TypeScript ============================== */

            .startColorStopWatch {
              color: #2D6EF3;
              text-shadow:
                0 0 5px #2D6EF3,
                0 0 15px #2D6EF3;
            }

            .stopColorStopWatch {
              color: rgb(255, 99, 71);
              text-shadow:
                0 0 5px rgb(255, 99, 71),
                0 0 15px rgb(255, 99, 71);
            }

            .resetColorStopWatch {
              color: #050c09;
              text-shadow: none;
            }

            .startColorAnimation {
              animation: animateSpinner 1.9s ease-in-out infinite;
              animation-delay: calc(0.05s * var(--i));
              animation-play-state: running;
            }

            .stopColorAnimation {
              animation: animateSpinner 1.9s ease-in-out infinite;
              animation-delay: calc(0.05s * var(--i));
              animation-play-state: paused;


              /* background-color: rgb(255, 99, 71) !important;
              box-shadow:
                0 0 5px rgb(255, 99, 71) ,
                0 0 15px rgb(255, 99, 71),
                0 0 30px rgb(255, 99, 71),
                0 0 60px rgb(255, 99, 71),
                0 0 90px rgb(255, 99, 71) !important; */
            }

            .resetColorAnimation {
              animation: animateSpinner unset;
            }
          }
        }
      }
    }
  }
}