/* ===== Variables ============================== */
$color-and-background: #2D6EF3;
$color-background-main: #191A23;
$base-bgc: #050c09;
$base-color: #ffffff;


@mixin fontF {
  font-family: 'Gaegu', cursive;
}