// ============================== Variables
/* $bg-color: #424242;
$hl-color: #3EE8E5;
$white: white;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;
$height: 54px;
$transition: 0.3s ease-out all; */

// ============================== Configuration initial
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    body {
        font-size: 1.6rem; // Tamanho da fonte 16px

        .mainColor {
            height: 100vh;
            color: #ffffff;
            position: relative;
            background-color: #191a23;

            display: flex;
            align-items: center;
            justify-content: center;

            .containerColor {
                z-index: 1;
                width: 900px;
                height: 500px;
                display: flex;


                .primaryColor {
                    flex: 1;
                    border: 3px solid #ee82ee;

                    h1 {
                        font-weight: 700;
                        font-size: 4.8rem;
                        text-align: center;
                        font-family: 'Gaegu', cursive;
                        position: relative;
                        color: white;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        line-height: 1.2em;
                    }

                    h1::before {
                        text-align: center;
                        content: attr(data-text);
                        position: absolute;
                        top: 0;
                        left: 93px;
                        max-width: 80%;
                        color: #2D6EF3;
                        overflow: hidden;
                        animation: animate 5s linear infinite;
                    }

                    @keyframes animate {
                        0% {
                            width: 0;
                        }

                        100% {
                            width: 58%;
                        }
                    }
                }


                .secondaryColor {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    background-color: #2D6EF3;
                    justify-content: space-between;

                    .secondaryOne {
                        height: 39rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;


                    }

                    .secondaryTwo {
                        .author {
                            padding: 3rem;
                            font-size: 3rem;
                            font-weight: 300;
                            text-align: center;
                            font-family: 'Gaegu', cursive;
                            border-top: 1px solid #191A23;
                        }
                    }
                }
            }
        }

        .mainColor::before {
            content: '';
            position: fixed;
            top: 369px;
            left: -194px;
            height: 0;
            width: 0;
            border-left: 300px solid transparent;
            border-right: 300px solid transparent;
            border-bottom: 300px solid #2D6EF3;
            transform: rotate(225deg);
        }

    }
}


@media(max-width: 1080px) {
    html {
        font-size: 93.75%;

        body {
            font-size: 1rem; // Tamanho da fonte 15px

            .mainColor {
                .containerColor {

                    .primaryColor {
                        h1 {
                            font-size: 2.8rem;
                        }

                        h1::before {
                            display: none;
                        }

                    }

                    .secondaryColor {
                        .secondaryTwo {
                            .author {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%;

        body {
            font-size: 1rem; // Tamanho da fonte 14px

            .mainColor {
                .containerColor {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .primaryColor {
                        flex: 2;

                        h1 {
                            font-size: 2.8rem;
                        }

                        h1::before {
                            display: none;
                        }
                    }

                    .secondaryColor {
                        justify-content: space-around;

                        .secondaryOne {
                            height: 0;



                        }

                        .secondaryTwo {
                            .author {
                                font-size: 1.6rem;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}