/* ===== Variables ============================== */
/* ===== Imports initial ============================== */
svg#freepik_stories-time-management:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-time-management.animated #freepik--background-complete--inject-920 {
  -webkit-animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
          animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

svg#freepik_stories-time-management.animated #freepik--Shadow--inject-920 {
  -webkit-animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
          animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

svg#freepik_stories-time-management.animated #freepik--Hourglass--inject-920 {
  -webkit-animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
          animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

svg#freepik_stories-time-management.animated #freepik--Character--inject-920 {
  -webkit-animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown, 1.5s Infinite linear shake;
          animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown, 1.5s Infinite linear shake;
  -webkit-animation-delay: 0s, 1s;
          animation-delay: 0s, 1s;
}

svg#freepik_stories-time-management.animated #freepik--Clock--inject-920 {
  -webkit-animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp, 1.5s Infinite linear floating;
          animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp, 1.5s Infinite linear floating;
  -webkit-animation-delay: 0s, 1s;
          animation-delay: 0s, 1s;
}

@-webkit-keyframes lightSpeedLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0) skewX(20deg);
            transform: translate3d(-50%, 0, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0) skewX(20deg);
            transform: translate3d(-50%, 0, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: inherit;
            transform: inherit;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: inherit;
            transform: inherit;
  }
}

@-webkit-keyframes floating {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floating {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.animator-hidden {
  display: none;
}

.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
          animation: octocat-wave 560ms ease-in-out;
}

@-webkit-keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    -webkit-animation: none;
            animation: none;
  }
  .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
  }
}

/* ===== Variables ============================== */
html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
}

html body .mainColor .containerColor .primaryColor .loading {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 85px auto;
  /* ===== TypeScript ============================== */
}

html body .mainColor .containerColor .primaryColor .loading .blocks {
  position: absolute;
  width: 8px;
  height: 25px;
  background-color: #050c09;
  left: 50%;
  border-radius: 8px;
  -webkit-transform: rotate(calc(18deg * var(--i)));
          transform: rotate(calc(18deg * var(--i)));
  -webkit-transform-origin: 0 125px;
          transform-origin: 0 125px;
}

@-webkit-keyframes animateSpinner {
  0%,
  50% {
    background-color: #050c09;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50.1%,
  100% {
    background-color: #2D6EF3;
    -webkit-box-shadow: 0 0 5px #2D6EF3, 0 0 15px #2D6EF3, 0 0 30px #2D6EF3, 0 0 60px #2D6EF3, 0 0 90px #2D6EF3;
            box-shadow: 0 0 5px #2D6EF3, 0 0 15px #2D6EF3, 0 0 30px #2D6EF3, 0 0 60px #2D6EF3, 0 0 90px #2D6EF3;
  }
}

@keyframes animateSpinner {
  0%,
  50% {
    background-color: #050c09;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50.1%,
  100% {
    background-color: #2D6EF3;
    -webkit-box-shadow: 0 0 5px #2D6EF3, 0 0 15px #2D6EF3, 0 0 30px #2D6EF3, 0 0 60px #2D6EF3, 0 0 90px #2D6EF3;
            box-shadow: 0 0 5px #2D6EF3, 0 0 15px #2D6EF3, 0 0 30px #2D6EF3, 0 0 60px #2D6EF3, 0 0 90px #2D6EF3;
  }
}

html body .mainColor .containerColor .primaryColor .loading .blockMain {
  color: #050c09;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2em;
  letter-spacing: 2px;
}

html body .mainColor .containerColor .primaryColor .loading .startColorStopWatch {
  color: #2D6EF3;
  text-shadow: 0 0 5px #2D6EF3, 0 0 15px #2D6EF3;
}

html body .mainColor .containerColor .primaryColor .loading .stopColorStopWatch {
  color: tomato;
  text-shadow: 0 0 5px tomato, 0 0 15px tomato;
}

html body .mainColor .containerColor .primaryColor .loading .resetColorStopWatch {
  color: #050c09;
  text-shadow: none;
}

html body .mainColor .containerColor .primaryColor .loading .startColorAnimation {
  -webkit-animation: animateSpinner 1.9s ease-in-out infinite;
          animation: animateSpinner 1.9s ease-in-out infinite;
  -webkit-animation-delay: calc(0.05s * var(--i));
          animation-delay: calc(0.05s * var(--i));
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

html body .mainColor .containerColor .primaryColor .loading .stopColorAnimation {
  -webkit-animation: animateSpinner 1.9s ease-in-out infinite;
          animation: animateSpinner 1.9s ease-in-out infinite;
  -webkit-animation-delay: calc(0.05s * var(--i));
          animation-delay: calc(0.05s * var(--i));
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  /* background-color: rgb(255, 99, 71) !important;
              box-shadow:
                0 0 5px rgb(255, 99, 71) ,
                0 0 15px rgb(255, 99, 71),
                0 0 30px rgb(255, 99, 71),
                0 0 60px rgb(255, 99, 71),
                0 0 90px rgb(255, 99, 71) !important; */
}

html body .mainColor .containerColor .primaryColor .loading .resetColorAnimation {
  -webkit-animation: animateSpinner unset;
          animation: animateSpinner unset;
}

/* ===== Variables ============================== */
html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
}

html body .mainColor .containerColor .secondaryColor .secondaryTwo .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: -1px;
  font-family: 'Gaegu', cursive;
  border-top: 1px solid #191A23;
  -webkit-box-shadow: #0000002b 0px -23px 25px 0px inset, #00000026 0px -36px 30px 0px inset, #0000001a 0px -79px 40px 0px inset, #0000000f 0px 2px 1px, #00000017 0px 4px 2px, #00000017 0px 8px 4px, #00000017 0px 16px 8px, #00000017 0px 32px 16px;
          box-shadow: #0000002b 0px -23px 25px 0px inset, #00000026 0px -36px 30px 0px inset, #0000001a 0px -79px 40px 0px inset, #0000000f 0px 2px 1px, #00000017 0px 4px 2px, #00000017 0px 8px 4px, #00000017 0px 16px 8px, #00000017 0px 32px 16px;
}

/* ===== Variables ============================== */
html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
}

html body .mainColor .containerColor .secondaryColor .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10rem;
}

html body .mainColor .containerColor .secondaryColor .one button {
  width: 200px;
}

html body .mainColor .containerColor .secondaryColor .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html body .mainColor .containerColor .secondaryColor .secondaryOne .btn {
  border: none;
  width: 160px;
  display: block;
  font-size: 150%;
  cursor: pointer;
  color: #191A23;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  font-family: 'Gaegu', cursive;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

html body .mainColor .containerColor .secondaryColor .secondaryOne .btn::after {
  top: 0;
  left: 0;
  width: 0;
  content: "";
  height: 100%;
  -webkit-transition: none;
  transition: none;
  position: absolute;
  background-color: #ffffff66;
}

html body .mainColor .containerColor .secondaryColor .secondaryOne .btn:hover {
  border: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: 0 0 10px 0 #191A23;
          box-shadow: 0 0 10px 0 #191A23;
  background-color: rgba(25, 26, 35, 0.8);
  -webkit-filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, 0.5));
}

html body .mainColor .containerColor .secondaryColor .secondaryOne .btn:hover::after {
  width: 100%;
  background-color: #ffffff00;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

/* ===== Variables ============================== */
html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
}

html body .mainColor .containerColor .primaryColor h1 {
  font-weight: 700;
  font-size: 4.8rem;
  text-align: center;
  font-family: 'Gaegu', cursive;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}

html body .mainColor .containerColor .primaryColor h1::before {
  text-align: center;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 94px;
  max-width: 80%;
  color: #2D6EF3;
  overflow: hidden;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 58%;
  }
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 58%;
  }
}

/* ===== Configuration initial ============================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
}

html body .mainColor {
  font-family: 'Gaegu', cursive;
  margin: auto 0;
  max-width: 1440px;
  height: 100vh;
  color: #ffffff;
  position: relative;
  background-color: #191A23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .mainColor .anime {
  position: fixed;
  z-index: 2;
  top: 40rem;
  left: 115rem;
  width: 20rem;
}

html body .mainColor .containerColor {
  z-index: 1;
  width: 900px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: #0000002b 0px -23px 25px 0px inset, #00000026 0px -36px 30px 0px inset, #0000001a 0px -79px 40px 0px inset, #0000000f 0px 2px 1px, #00000017 0px 4px 2px, #00000017 0px 8px 4px, #00000017 0px 16px 8px, #00000017 0px 32px 16px, #2D6EF3 0px 20px 30px -10px;
          box-shadow: #0000002b 0px -23px 25px 0px inset, #00000026 0px -36px 30px 0px inset, #0000001a 0px -79px 40px 0px inset, #0000000f 0px 2px 1px, #00000017 0px 4px 2px, #00000017 0px 8px 4px, #00000017 0px 16px 8px, #00000017 0px 32px 16px, #2D6EF3 0px 20px 30px -10px;
}

html body .mainColor .containerColor .primaryColor {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #191a23e3;
}

html body .mainColor .containerColor .secondaryColor {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2D6EF3;
}

html body .mainColor::before {
  width: 0;
  height: 0;
  top: 369px;
  content: '';
  left: -194px;
  position: fixed;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid #2D6EF3;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
  html body {
    font-size: 1rem;
  }
  html body .mainColor .anime {
    display: none;
  }
  html body .mainColor .containerColor .primaryColor h1 {
    font-size: 2.8rem;
  }
  html body .mainColor .containerColor .primaryColor h1::before {
    display: none;
  }
  html body .mainColor .containerColor .secondaryColor .one {
    padding: 5rem;
  }
  html body .mainColor .containerColor .secondaryColor .secondaryTwo .author {
    font-size: 1.6rem;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
  html body {
    font-size: 1rem;
  }
  html body .mainColor .anime {
    display: none;
  }
  html body .mainColor .containerColor {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .mainColor .containerColor .primaryColor {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: transparent;
  }
  html body .mainColor .containerColor .primaryColor h1 {
    font-size: 2.8rem;
  }
  html body .mainColor .containerColor .primaryColor h1::before {
    display: none;
  }
  html body .mainColor .containerColor .secondaryColor {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    background-color: transparent;
  }
  html body .mainColor .containerColor .secondaryColor .secondaryOne {
    height: 0;
  }
  html body .mainColor .containerColor .secondaryColor .secondaryOne .btn + .btn {
    padding: 0;
    margin: 0 10px;
  }
  html body .mainColor .containerColor .secondaryColor .secondaryOne .one {
    padding: 0;
    margin-bottom: 1rem;
  }
  html body .mainColor .containerColor .secondaryColor .secondaryTwo .author {
    display: none;
  }
  html body .github-corner {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */